name: Mirror Docker Image to GHCR

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Login to GHCR
        run: echo "${{ secrets.TOKEN_GITHUB }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Pull source image
        run: docker pull halimqarroum/docker-android:api-30

      - name: Retag image
        run: |
          docker tag halimqarroum/docker-android:api-30 \
          ghcr.io/${{ github.repository_owner }}/docker-android:api-30

      - name: Push to GHCR
        run: docker push ghcr.io/${{ github.repository_owner }}/docker-android:api-30
