name: CI

on:
  workflow_dispatch:
    inputs:
      source:
        description: 'trigger source'
        required: false
        default: 'cron-job.org'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true
      - name: Commit changes
        run: |
          for INSER in {1..3}; do
            sleep 1
            HOURS=$(date +%H%M)
            echo $HOURS $INSER > README.md
            git config user.name "github-actions"
            git config user.email "github-actions@github.com"

            if [ -n "$(git status --porcelain)" ]; then
              git add README.md
              git commit -m "ci: sync data"
              git push
            else
              echo "No changes to commit"
            fi
          done
          touch data.txt
          mv data.txt data.txt.tmp
          echo $(date "+%H:%M") >> data.txt.tmp
          tail -n 10 data.txt.tmp > data.txt

          git add data.txt
          git commit -m "ci: data"
          git push
          
