name: CI

on:
  push: 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Hello READE
        run: |
          
      - name: Commit changes
        run: |
          for INSER in {1..20}; do
            sleep 5
            HOURS=$(date +%H%M)
            echo $HOURS $INSER > README.md
            git config user.name "github-actions"
            git config user.email "github-actions@github.com"

            if [ -n "$(git status --porcelain)" ]; then
              git add README.md
              git commit -m "ci: sync date"
              git push
            else
              echo "No changes to commit"
            fi
          done
