name: CI

on:
  schedule:
    - cron: '*/37 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true
      - name: Commit changes
        run: |
          for INSER in {1..3}; do
            sleep 1
            HOURS=$(date +%H%M)
            echo $HOURS $INSER > README.md
            git config user.name "github-actions"
            git config user.email "github-actions@github.com"

            if [ -n "$(git status --porcelain)" ]; then
              git add README.md
              git commit -m "ci: sync data"
              git push
            else
              echo "No changes to commit"
            fi
          done
